<% include ../partials/header %>
<nav class="navbar navbar-default navbar-fixed-top navbar transparent">
      <a class="navbar-brand" href="/playlists">Playlisted</a>

<form class="navbar-form navbar-right" role="search" action="/searchresults">
        <div class="form-group">
          <a href="/playlists/new" class="btn btn-default">New Playlist</a>
          <a href="/logout" class="btn btn-default">Log Out</a>
      </form> 
</nav>

<center><h1><%= song.title %></h1></center>

<table class="table table-striped">
  <thead>
  <tr>
    <td class="heading"></td>
    <td class="heading"><strong>Title:</strong></td>
    <td class="heading"><strong>Artist:</strong></td>
    <td class="heading"><strong>Album:</strong></td>
    <td class="heading"><strong>Year:</strong></td>
    <td class="heading"><strong>Genre:</strong></td>
  </tr>
  </thead>
<tr>
  <td><img src="<%= song.art %>" width="100px"></td>
  <td><%= song.title %></td>
  <td><%= song.artist %></td>
  <td><%= song.album %></td>
  <td><%= song.year %></td>
  <td><%= song.genre %></td>
</tr>
</table>



<% include ../partials/footer %>